# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
*.log.*

# Linux audit log generado por tu script
/dev/shm/audit-log.txt

# Environments
.env
.venv/
env/
venv/

# IDEs
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS metadata files
.DS_Store
Thumbs.db

# Backup files
*~
*.bak
*.swp

###
audit.py